<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
    <link rel="stylesheet" type="text/css" href="public/css/main.css" />
    <title>My very best quotes</title>
</head>
<body>
    <h1>Express-Handlebars boilerplate</h1>
    {{{body}}}
</body>
</html>